[submodule "external/gekkio-kicad-libs"]
	path = gekkio-kicad-libs
	url = git@github.com:Gekkio/gekkio-kicad-libs.git
[submodule "external/digikey-partner-kicad-library"]
	path = digikey-partner-kicad-library
	url = git@github.com:Digi-Key/digikey-partner-kicad-library.git
[submodule "external/digikey-kicad-library"]
	path = digikey-kicad-library
	url = git@github.com:Digi-Key/digikey-kicad-library.git
[submodule "external/kicad-libraries"]
	path = espressif-kicad-libraries
	url = git@github.com:espressif/kicad-libraries.git
